<?xml version="1.0"?>
<ruleset name="Dealji">
	<description>PHPCS configuration for the Dealji WordPress theme.</description>

	<file>.</file>

	<exclude-pattern>vendor/*</exclude-pattern>
	<exclude-pattern>node_modules/*</exclude-pattern>

	<arg name="extensions" value="php"/>
	<arg name="parallel" value="8"/>

	<config name="testVersion" value="8.2-"/>

	<rule ref="WordPress"/>
	<rule ref="WordPress-Extra"/>
	<rule ref="WordPress-Docs"/>
	<rule ref="PHPCompatibilityWP"/>

	<!-- Preserve Composer PSR-4 class filenames under inc/. -->
	<rule ref="WordPress.Files.FileName.NotHyphenatedLowercase">
		<exclude-pattern>*/inc/Assets.php</exclude-pattern>
		<exclude-pattern>*/inc/Theme.php</exclude-pattern>
		<exclude-pattern>*/inc/PostTypes/ProductPostType.php</exclude-pattern>
		<exclude-pattern>*/inc/Taxonomies/ProductTaxonomies.php</exclude-pattern>
	</rule>
	<rule ref="WordPress.Files.FileName.InvalidClassFileName">
		<exclude-pattern>*/inc/Assets.php</exclude-pattern>
		<exclude-pattern>*/inc/Theme.php</exclude-pattern>
		<exclude-pattern>*/inc/PostTypes/ProductPostType.php</exclude-pattern>
		<exclude-pattern>*/inc/Taxonomies/ProductTaxonomies.php</exclude-pattern>
	</rule>
</ruleset>
